*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl-left{
    float: left;
}

.fl-right{
    float: right;
}

header{
    width: 95%;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    font-size: 1.5rem;
    font-weight: bold;
} 

section.general-container{ 
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;
}


header img{ 
    height: 2rem;
    vertical-align: middle;
} 

.help{
    text-align: center;
    width: 25%;
}

header .help a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

header .help a:hover{
    text-decoration: underline;
} 

.btn{
    font-size: 1rem;
    background-color: rgb(0, 97, 255); 
    color: white;
    padding: 5px 20px; 
    display: inline-block;
    border: none;
}

.btn:hover{
    background-color: red;

}

section#jumbo{
    min-height: 800px;
    background-color: rgb(180, 208, 231);
}

section .jumbo-wrapper{
    width: 80%;
    margin: 0 auto;
}

section#jumbo #title{
    /* border: 2px solid yellow; */
    padding: 30px 0;
    font-size: 8.2rem;
    font-weight: bold;
    text-align: left;
}

.jumbo-wrapper #description{
    width: 300px;
} 

#jumbo .btn{
    margin: 20px 0  5px;
} 

section#jumbo p{
    margin-bottom: 20px;
}

.icon{
    font-size: 3rem;
}  

section#offert h2{
    font-size: 3rem;
    margin: 30px 0 30px;
}  

section#offert .title{ 
    padding: 15px; 
    font-size: 1rem;
    text-align: center; 
    border-bottom: 1px solid silver;
}

section .input{
    margin: 30px 0 30px;
}
.card{  
    border: 1px solid black;
} 

.card{
    width: calc((100% / 3) - 10px); 
}

.card-items{
    padding: 40px;
} 

.padding-items{
    padding-top: 20px;
    padding-bottom: 20px;
}

section#offert .item-title{  
    padding-bottom: 10px;
    font-size: 2rem;
} 

section#offert .price{ 
    font-weight: bold;
}

section#offert ul li{
    line-height: 30px;
    list-style: none;
} 

section#offert .month{
    display: block;
} 

section#offert .options{ 
    line-height: 30px;
    padding-bottom: 20px;
} 

.padding-items{
    padding-bottom: 20px;
} 

.buy{
    padding-top: 20px;
}

section#offert .card-full{ 
    margin-top: 30px;
    width: 100%;
}  

.inline{
    display: inline;
}  

section#offert .card-full>.title{ 
    border:1px solid silver;
}
 

